---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <section>
    <div class="cta-wrapper border about-hero">
      <div class="cta-background about"></div>
      <div class="cta-content">
        <div class="about-hero-content">
          <div>
            <div class="interaction-overflow">
              <h2 class="heading-cta text-weight-regular">
                Experience doesn’t just stack,
              </h2>
            </div>
            <div class="interaction-overflow">
              <h2 class="heading-cta text-weight-regular">
                it shifts how you see, think, and solve.
              </h2>
            </div>
          </div>
          <div
            data-w-id="ed4622f0-fb3a-c59e-00c8-1335b36e3f5a"
            class="max-width-60ch"
          >
            <p class="text-size-medium line-height-150">
              Every venture, role, and project is an opportunity to reframe
              challenges into solutions and vision into results.
            </p>
          </div>
        </div>
        <a
          data-w-id="ab4713bc-9fc0-5f7b-744d-f8ddf1c6dae7"
          href="../contact/form.html"
          class="primary-button is-secondary w-inline-block"
        >
          <div class="button-icon">
            <img
              loading="lazy"
              src="/images/Secondary-Button-Icon.svg"
              alt="Icon"
            />
          </div>
          <div class="button-text-wrapper">
            <div
              style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
              class="text-size-regular"
            >
              Discuss Project
            </div>
            <div
              style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
              class="text-size-regular"
            >
              Discuss Project
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="w-layout-blockcontainer container w-container">
      <div class="projects-title margin">
        <div class="no-wrap">
          <h1 class="text-size-small text-weight-regular">Who I am</h1>
        </div>
        <div class="divider"></div>
      </div>
      <div class="who-we-are-component">
        <div
          id="w-node-_8e55b106-63a8-00b7-ddfd-61adc34e2a26-f1ee5fd3"
          class="who-we-are-content"
        >
          <p class="text-size-huge">
            What drives me is the opportunity to build, and the fascination for
            how things connect: decisions, people, systems, and strategy. I care
            about work that moves, inspires, and creates leverage for
            businesses, for teams, and for the people they serve.
          </p>
        </div>
        <div
          id="w-node-_026ffee8-eaad-20b4-f6db-c9f49685bcaf-f1ee5fd3"
          class="w-layout-grid logo-grid"
        >
          <div
            id="w-node-_026ffee8-eaad-20b4-f6db-c9f49685bcb0-f1ee5fd3"
            class="logos-about"
          >
            <img
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 727.9609375px, 939.9609375px"
              srcset="/images/AY-Black_Transparent-Letters_RGB-p-500.png 500w, /images/AY-Black_Transparent-Letters_RGB-p-800.png 800w, /images/AY-Black_Transparent-Letters_RGB-p-1080.png 1080w, /images/AY-Black_Transparent-Letters_RGB-p-1600.png 1600w, /images/AY-Black_Transparent-Letters_RGB-p-2000.png 2000w, /images/AY-Black_Transparent-Letters_RGB.png 3307w"
              alt="About You Logo"
              src="/images/AY-Black_Transparent-Letters_RGB.png"
              loading="lazy"
              class="about-logo-image"
            />
          </div>
          <div
            id="w-node-_026ffee8-eaad-20b4-f6db-c9f49685bcb2-f1ee5fd3"
            class="logos-about"
          >
            <img
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 727.9765625px, 939.9765625px"
              srcset="/images/TROPICFEEL-LOGO-p-500.webp 500w, /images/TROPICFEEL-LOGO-p-800.webp 800w, /images/TROPICFEEL-LOGO-p-1080.webp 1080w, /images/TROPICFEEL-LOGO-p-1600.webp 1600w, /images/TROPICFEEL-LOGO-p-2000.webp 2000w, /images/TROPICFEEL-LOGO-p-2600.webp 2600w, /images/TROPICFEEL-LOGO-p-3200.webp 3200w, /images/TROPICFEEL-LOGO.webp 10594w"
              alt="Tropicfeel Logo"
              src="/images/TROPICFEEL-LOGO.webp"
              loading="lazy"
              class="about-logo-image"
            />
          </div>
          <div
            id="w-node-_026ffee8-eaad-20b4-f6db-c9f49685bcb4-f1ee5fd3"
            class="logos-about"
          >
            <img
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 727.9921875px, 939.9765625px"
              srcset="/images/lidl-scrm-logo-p-500.png 500w, /images/lidl-scrm-logo-p-800.png 800w, /images/lidl-scrm-logo-p-1080.png 1080w, /images/lidl-scrm-logo-p-1600.png 1600w, /images/lidl-scrm-logo-p-2000.png 2000w, /images/lidl-scrm-logo.png 3306w"
              alt=""
              src="/images/lidl-scrm-logo.png"
              loading="lazy"
              class="about-logo-image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="w-layout-blockcontainer container w-container">
      <div
        data-w-id="b5cf3e90-40cc-2fba-115f-2d0fcabef1fc"
        class="sticky-wrapper-logos"
      >
        <div class="logos-section-wrapper">
          <div class="heading-logos">
            <h2 class="text-size-display text-weight-medium">
              Fluent in the tools that build brands
            </h2>
          </div>
          <div class="logos-sticky-wrapper">
            <div
              id="w-node-b5cf3e90-40cc-2fba-115f-2d0fcabef202-f1ee5fd3"
              data-w-id="b5cf3e90-40cc-2fba-115f-2d0fcabef202"
              class="sticky-logo top"
            >
              <div
                data-w-id="b5cf3e90-40cc-2fba-115f-2d0fcabef203"
                class="elipse-sticky _1"
              >
                <img
                  sizes="(max-width: 767px) 100vw, (max-width: 991px) 727.9921875px, 939.9921875px"
                  srcset="/images/Figma-Logo-p-500.png 500w, /images/Figma-Logo-p-800.png 800w, /images/Figma-Logo-p-1080.png 1080w, /images/Figma-Logo-p-1600.png 1600w, /images/Figma-Logo.png 1667w"
                  alt=""
                  src="/images/Figma-Logo.png"
                  loading="lazy"
                  class="logo-sticky"
                />
              </div>
            </div>
            <div
              id="w-node-b5cf3e90-40cc-2fba-115f-2d0fcabef205-f1ee5fd3"
              data-w-id="b5cf3e90-40cc-2fba-115f-2d0fcabef205"
              class="sticky-logo middle"
            >
              <div class="elipse-sticky _2">
                <img
                  loading="lazy"
                  src="/images/shopify_glyph.svg"
                  alt="Shopify Logo"
                  class="logo-sticky"
                />
              </div>
            </div>
            <div
              id="w-node-b5cf3e90-40cc-2fba-115f-2d0fcabef208-f1ee5fd3"
              data-w-id="b5cf3e90-40cc-2fba-115f-2d0fcabef208"
              class="sticky-logo top"
            >
              <div class="elipse-sticky _1">
                <img
                  loading="lazy"
                  src="/images/Optimizely-Logo.png"
                  alt=""
                  class="logo-sticky"
                />
              </div>
            </div>
            <div
              id="w-node-b5cf3e90-40cc-2fba-115f-2d0fcabef20b-f1ee5fd3"
              data-w-id="b5cf3e90-40cc-2fba-115f-2d0fcabef20b"
              class="sticky-logo middle side"
            >
              <div class="elipse-sticky _4">
                <img
                  sizes="(max-width: 767px) 100vw, (max-width: 991px) 727.984375px, 940px"
                  srcset="/images/Meta-Logo-p-500.webp 500w, /images/Meta-Logo-p-800.webp 800w, /images/Meta-Logo-p-1080.webp 1080w, /images/Meta-Logo.webp 1280w"
                  alt=""
                  src="/images/Meta-Logo.webp"
                  loading="lazy"
                  class="logo-sticky"
                />
              </div>
            </div>
            <div
              id="w-node-b5cf3e90-40cc-2fba-115f-2d0fcabef20e-f1ee5fd3"
              data-w-id="b5cf3e90-40cc-2fba-115f-2d0fcabef20e"
              class="sticky-logo middle side"
            >
              <div class="elipse-sticky _1">
                <img
                  sizes="(max-width: 767px) 100vw, (max-width: 991px) 727.9921875px, 939.9921875px"
                  srcset="/images/Klaviyo-Logo-p-500.png 500w, /images/Klaviyo-Logo-p-800.png 800w, /images/Klaviyo-Logo.png 1040w"
                  alt=""
                  src="/images/Klaviyo-Logo.png"
                  loading="lazy"
                  class="logo-sticky"
                />
              </div>
            </div>
            <div
              id="w-node-b5cf3e90-40cc-2fba-115f-2d0fcabef211-f1ee5fd3"
              data-w-id="b5cf3e90-40cc-2fba-115f-2d0fcabef211"
              class="sticky-logo bottom"
            >
              <div class="elipse-sticky _6">
                <img
                  loading="lazy"
                  src="/images/Google-Ads-Logo.svg"
                  alt=""
                  class="logo-sticky"
                />
              </div>
            </div>
            <div
              id="w-node-b5cf3e90-40cc-2fba-115f-2d0fcabef214-f1ee5fd3"
              data-w-id="b5cf3e90-40cc-2fba-115f-2d0fcabef214"
              class="sticky-logo middle"
            >
              <div class="elipse-sticky _1">
                <img
                  loading="lazy"
                  src="/images/GA-Logo.png"
                  alt="Google Analytics Logo"
                  class="logo-sticky"
                />
              </div>
            </div>
            <div
              id="w-node-b5cf3e90-40cc-2fba-115f-2d0fcabef217-f1ee5fd3"
              data-w-id="b5cf3e90-40cc-2fba-115f-2d0fcabef217"
              class="sticky-logo bottom"
            >
              <div class="elipse-sticky _8">
                <img
                  sizes="(max-width: 767px) 100vw, (max-width: 991px) 727.984375px, 940px"
                  srcset="/images/Salesforce-Logo-p-500.webp 500w, /images/Salesforce-Logo-p-800.webp 800w, /images/Salesforce-Logo.webp 1200w"
                  alt=""
                  src="/images/Salesforce-Logo.webp"
                  loading="lazy"
                  class="logo-sticky"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="w-layout-blockcontainer container medium w-container">
      <div class="sticky-services">
        <div class="sticky-title">
          <div class="overflow">
            <h2 class="text-size-xxhuge text-weight-regular">
              Approach &amp; Expertise
            </h2>
          </div>
          <div class="max-width-35ch">
            <p class="text-size-large line-height-160 regular-mobile">
              I approach every challenge with a mix of analytical rigor and
              entrepreneurial spirit. By connecting strategy, technology, and
              people, I help brands to deliver measurable results today and
              remain adaptable and relevant for tomorrow. For me, success isn’t
              just about growth, it’s about creating long-term value for
              businesses, customers, and teams alike.
            </p>
          </div>
        </div>
        <div class="services-wrapper">
          <div class="services-content">
            <div class="sticky-icon">
              <img loading="lazy" src="/images/Vector.svg" alt="Icon" />
            </div>
            <div class="sticky-services-content">
              <div class="opacity-86">
                <div class="text-weight-medium text-size-small">#01</div>
              </div>
              <div class="services-title">
                <h3 class="text-size-xxlarge text-weight-medium">
                  E-Commerce &amp; Omnichannel Growth
                </h3>
              </div>
              <div class="max-width-55ch">
                <p class="text-size-large line-height-150 regular-mobile">
                  Specialized in scaling digital commerce while bridging it with
                  physical touchpoints, ensuring every channel reinforces the
                  customer journey as part of an integrated whole. Success comes
                  from combining strategic execution with rigorous performance
                  measurement, uncovering improvement opportunities, and
                  translating insights into sustained revenue or profitability
                  growth and increased customer lifetime value.
                </p>
              </div>
            </div>
          </div>
          <div class="services-content">
            <div class="sticky-icon">
              <img
                loading="lazy"
                src="/images/Frame-2087327072.svg"
                alt="Icon"
              />
            </div>
            <div class="sticky-services-content">
              <div class="opacity-86">
                <div class="text-weight-medium text-size-small">#02</div>
              </div>
              <div>
                <div class="services-title">
                  <h3 class="text-size-xxlarge text-weight-medium">
                    Loyalty &amp; Personalization Strategy
                  </h3>
                </div>
              </div>
              <div class="max-width-48ch">
                <p class="text-size-large line-height-150 regular-mobile">
                  Expertise in designing and scaling loyalty programs that move
                  beyond transactions, fostering long-term customer
                  relationships through data-led personalization, targeted
                  incentives, and relevant experiences. The focus is always on
                  building ecosystems that deliver measurable business impact
                  while strengthening brand trust across diverse markets.
                </p>
              </div>
            </div>
          </div>
          <div class="services-content">
            <div class="sticky-icon">
              <img
                loading="lazy"
                src="/images/Frame-2087327073.svg"
                alt="Icon"
              />
            </div>
            <div class="sticky-services-content">
              <div class="opacity-86">
                <div class="text-weight-medium text-size-small">#03</div>
              </div>
              <div class="services-title">
                <h3 class="text-size-xxlarge text-weight-medium">
                  Digital Product &amp; Experience Strategy
                </h3>
              </div>
              <div class="max-width-48ch">
                <p class="text-size-large line-height-150 regular-mobile">
                  Translating customer needs and business objectives into
                  digital products that are intuitive, relevant, scalable, and
                  strategically impactful. The work centers on bridging product,
                  design, and technology as well as aligning cross-functional
                  teams to create experiences that both engage and deliver value
                  to users as well as create a long-term strategic advantage for
                  the business.
                </p>
              </div>
            </div>
          </div>
          <div class="services-content">
            <div class="sticky-icon">
              <img loading="lazy" src="/images/Icon.svg" alt="Icon" />
            </div>
            <div class="sticky-services-content">
              <div class="opacity-86">
                <div class="text-weight-medium text-size-small">#04</div>
              </div>
              <div class="services-title">
                <h3 class="text-size-xxlarge text-weight-medium">
                  Commerce Tech, MarTech &amp; Data Ecosystems
                </h3>
              </div>
              <div class="max-width-48ch">
                <p class="text-size-large line-height-150 regular-mobile">
                  Building and connecting the E-Commerce, marketing, operations,
                  and data infrastructures that enable customer-centric
                  strategies and efficiency at scale. By aligning platforms like
                  commerce platforms, CDPs, (marketing) automation systems, and
                  analytics tools, organizations gain the ability to act on
                  real-time insights, streamline operations, and unlock new
                  avenues for customer engagement and sustainable growth.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="w-layout-blockcontainer container w-container">
      <div
        data-w-id="8294a3e8-2ef6-2397-fab6-ce272c86cd87"
        class="logo-card-grid"
      >
        <div
          id="w-node-_8294a3e8-2ef6-2397-fab6-ce272c86cd88-f1ee5fd3"
          class="logo-card"
        >
          <div class="logo-image">
            <div class="text-size-xlarge text-weight-bold">Purpose</div>
          </div>
          <div class="opacity-87">
            <div class="text-size-cards">
              Driven by vision and building with intention. Every step is
              aligned with creating impact.
            </div>
          </div>
        </div>
        <div
          id="w-node-_8294a3e8-2ef6-2397-fab6-ce272c86cd8e-f1ee5fd3"
          class="logo-card"
        >
          <div class="logo-image">
            <div class="text-size-xlarge text-weight-bold">Curiosity</div>
          </div>
          <div class="opacity-87">
            <div class="text-size-cards">
              Questioning, exploring, and learning - curiosity fuels growth and
              sparks bold new ideas.
            </div>
          </div>
        </div>
        <div
          id="w-node-_8294a3e8-2ef6-2397-fab6-ce272c86cd94-f1ee5fd3"
          class="logo-card"
        >
          <div class="logo-image">
            <div class="text-size-xlarge text-weight-bold">Integrity</div>
          </div>
          <div class="opacity-87">
            <div class="text-size-cards">
              Trust is the foundation of every venture; built on acting and
              leading with honesty, transparency, and respect.
            </div>
          </div>
        </div>
        <div
          id="w-node-_8294a3e8-2ef6-2397-fab6-ce272c86cd9a-f1ee5fd3"
          class="logo-card"
        >
          <div class="logo-image">
            <div class="text-size-xlarge text-weight-bold">Empathy</div>
          </div>
          <div class="opacity-87">
            <div class="text-size-cards">
              Understanding people deeply is the key to creating meaningful
              businesses and lasting connections.
            </div>
          </div>
        </div>
        <div
          id="w-node-_8294a3e8-2ef6-2397-fab6-ce272c86cda0-f1ee5fd3"
          class="logo-card"
        >
          <div class="logo-image">
            <div class="text-size-xlarge text-weight-bold">Focus</div>
          </div>
          <div class="opacity-87">
            <div class="text-size-cards">
              Discipline and clarity cut through noise. Energy is channeled into
              what truly matters.
            </div>
          </div>
        </div>
        <div
          id="w-node-_8294a3e8-2ef6-2397-fab6-ce272c86cda6-f1ee5fd3"
          class="logo-card"
        >
          <div class="logo-image">
            <div class="text-size-xlarge text-weight-bold">Boldness</div>
          </div>
          <div class="opacity-87">
            <div class="text-size-cards">
              Boldness is the spark that drives change and creates opportunity.
              Daring ideas create extraordinary outcomes.
            </div>
          </div>
        </div>
        <div
          id="w-node-_8294a3e8-2ef6-2397-fab6-ce272c86cdac-f1ee5fd3"
          class="logo-card"
        >
          <div class="logo-image">
            <div class="text-size-xlarge text-weight-bold">Perseverance</div>
          </div>
          <div class="opacity-87">
            <div class="text-size-cards">
              Success is built on resilience. Challenges are pushed through
              until vision becomes reality.
            </div>
          </div>
        </div>
        <div
          id="w-node-_8294a3e8-2ef6-2397-fab6-ce272c86cdb2-f1ee5fd3"
          class="logo-card"
        >
          <div class="logo-image">
            <div class="text-size-xlarge text-weight-bold">Ownership</div>
          </div>
          <div class="opacity-87">
            <div class="text-size-cards">
              Ownership means standing accountable - every decision, every
              result, every success.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div
      data-w-id="a370da29-023e-43b6-b35c-8cc38b71cd11"
      class="services-image-sticky"
    >
      <div class="services-image-component">
        <div class="services-image">
          <img
            loading="lazy"
            src="/images/f8fddbf4-min.jpg"
            alt="Portrait of Luca wearing a blue suit and white shirt, with short blond hair, smiling in front of a white background."
            class="image-about"
          />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
