---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <section class="section">
    <div class="home-hero-marquee">
      <div class="hero-marquee">
        <div
          style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="hero-marquee-content"
        >
          <div class="heading-marquee">my —</div>
        </div>
        <div
          style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="hero-marquee-content"
        >
          <div class="heading-marquee">journey —</div>
        </div>
        <div
          style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="hero-marquee-content"
        >
          <div class="heading-marquee">my —</div>
        </div>
        <div
          style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="hero-marquee-content"
        >
          <div class="heading-marquee">journey —</div>
        </div>
      </div>
    </div>
    <div class="bg-image">
      <img
        src="/images/aef54a61-min.jpg"
        loading="lazy"
        alt="Portrait of Luca Büürma smiling with short blond hair and light beard, wearing a white textured jacket and white t-shirt, standing against a dark chalkboard background."
      />
    </div>
  </section>
  <section class="section">
    <div class="w-layout-blockcontainer container medium w-container">
      <div class="heading-images">
        <h1 class="heading-cta text-weight-regular">
          <strong>Building Digital Growth with Strategy and Creativity</strong>
        </h1>
        <div class="text-wrapper">
          <div class="intro-text">
            What started with <strong>curiosity</strong> has turned into a <strong
            >
            </strong>journey <div class="span one"></div> through digital commerce
            and strategy, product development, and customer experience management.
            With in-depth experience and a portfolio of successful projects, I blend
            <strong>creativity</strong>
            <div class="span two"></div> with <strong>technology</strong>
            <div class="span three"></div> to help brands connect, engage, and grow.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="w-layout-blockcontainer container w-container">
      <div
        data-w-id="dc6a7daf-0a7b-ccdc-43d3-d22391b2e2ca"
        style="opacity:0"
        class="cards-grid"
      >
        <div
          id="w-node-dc6a7daf-0a7b-ccdc-43d3-d22391b2e2cb-f1ee5fbb"
          class="grid-card"
        >
          <div class="card-number">
            <div class="card-big-number">3</div>
          </div>
          <div class="grid-content">
            <div class="text-weight-medium text-size-large">
              Growth-stage orgs shaped
            </div>
            <div class="opacity-88">
              <div class="card-text">
                From fast-growing scale-ups to already established market
                leaders. Shaped companies in fostering growth, strengthening
                operations, and creating sustainable structures while preserving
                agility. Developed strategies and processes that strengthened
                their competitive position in local and global markets.
              </div>
            </div>
          </div>
        </div>
        <div
          id="w-node-dc6a7daf-0a7b-ccdc-43d3-d22391b2e2d5-f1ee5fbb"
          class="grid-card"
        >
          <div class="card-number">
            <div class="card-big-number">+32</div>
          </div>
          <div class="grid-content">
            <div class="text-weight-medium text-size-large">
              Markets activated
            </div>
            <div class="opacity-88">
              <div class="card-text">
                Activated and enhanced markets across diverse contexts - shaping
                localized e-commerce strategies, orchestrating global
                marketplace launches, and facilitating large-scale digital
                product rollouts of loyalty and personalization features for
                millions of customers.
              </div>
            </div>
          </div>
        </div>
        <div
          id="w-node-dc6a7daf-0a7b-ccdc-43d3-d22391b2e2df-f1ee5fbb"
          class="grid-card"
        >
          <div class="card-number">
            <div class="card-big-number">+4</div>
          </div>
          <div class="grid-content">
            <div class="text-weight-medium text-size-large">
              Business models navigated
            </div>
            <div class="opacity-88">
              <div class="card-text">
                Worked across Wholesale, Dropshipping, D2C, and Fulfillment.
                Developed and optimized these four distinct business models,
                balancing scalability and profitability with customer experience
                at every stage.
              </div>
            </div>
          </div>
        </div>
        <div
          id="w-node-dc6a7daf-0a7b-ccdc-43d3-d22391b2e2e9-f1ee5fbb"
          class="grid-card"
        >
          <div class="card-number">
            <div class="card-big-number">+100M</div>
          </div>
          <div class="grid-content">
            <div class="text-weight-medium text-size-large">
              Customers impacted
            </div>
            <div class="opacity-88">
              <div class="card-text">
                Through journeys and experiences shaped across physical and
                performance-driven digital touchpoints. Delivering value to
                millions by blending customer insight, technology, operational
                excellence, and human connection in every touchpoint.
              </div>
            </div>
          </div>
        </div>
        <div
          id="w-node-dc6a7daf-0a7b-ccdc-43d3-d22391b2e2f3-f1ee5fbb"
          class="grid-card"
        >
          <div class="card-number">
            <div class="card-big-number">Countless</div>
          </div>
          <div class="grid-content">
            <div class="text-weight-medium text-size-large">
              Questions asked
            </div>
            <div class="opacity-88">
              <div class="card-text">
                Because better questions lead to smarter answers.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="w-layout-blockcontainer container w-container">
      <div class="works-square-wrapper">
        <div class="projects-title">
          <div class="no-wrap">
            <h2 class="text-size-small text-weight-regular">
              Selected experiences
            </h2>
          </div>
          <div class="divider"></div>
        </div>
        <div class="works-list-wrapper w-dyn-list">
          <div role="list" class="collection-list-works w-dyn-items">
            <div
              data-w-id="80495093-3823-175b-aa40-d9a53ae32bd9"
              role="listitem"
              class="card-rotate-works w-dyn-item"
            >
              <div
                data-w-id="64e1c931-f1a3-7087-e671-8aa1d29ee333"
                class="works-card-wrapper"
              >
                <div class="works-card is-front">
                  <div class="works-card-image">
                    <img
                      alt="ABOUT YOU"
                      loading="lazy"
                      src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997.jpg"
                      class="image"
                    />
                  </div>
                  <div class="works-card-tittle">
                    <div class="max-width-30ch">
                      <h2
                        class="text-size-xlarge line-height-140 text-weight-regular"
                      >
                        From Market Insight to Measurable Impact in DACH
                      </h2>
                    </div>
                    <div class="opacity-60">
                      <h2 class="text-size-small text-weight-regular">
                        ABOUT YOU - 2022
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="works-card-back is-back">
                  <div class="works-card-content">
                    <div class="image-mobile">
                      <img
                        src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8.jpg"
                        loading="lazy"
                        alt="ABOUT YOU"
                      />
                    </div>
                    <div class="works-back-card-content">
                      <div class="opacity-61">
                        <h2 class="text-size-small text-weight-regular">
                          ABOUT YOU - 2022
                        </h2>
                      </div>
                      <div class="max-width-22ch">
                        <h2
                          class="text-size-xxlarge line-height-140 text-weight-regular"
                        >
                          From Market Insight to Measurable Impact in DACH
                        </h2>
                      </div>
                      <div class="opacity-70 hide-mobile">
                        <p class="text-size-small line-height-150">
                          Achieving revenue growth while strengthening customer
                          experiences across some of Europe's most dynamic
                          markets.
                        </p>
                      </div>
                      <div class="opacity-70 mobile">
                        <p class="text-size-small line-height-150">
                          Revenue growth and CX across DACH markets.
                        </p>
                      </div>
                    </div>
                    <div
                      data-w-id="43c6bf5b-aed1-63c3-997f-9963a15468bc"
                      class="button-primary"
                    >
                      <div class="button-text-wrapper align-center">
                        <div class="text-size-small text-weight-medium">
                          View Role
                        </div>
                      </div>
                      <div class="fill-top"></div>
                      <div class="fill-bottom"></div>
                      <div class="fill-left"></div>
                      <div class="fill-right"></div>
                      <div class="embed-border w-embed">
                        <svg
                          width="166"
                          height="50"
                          viewBox="0 0 166 52"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 13V2C1 1.44772 1.44772 1 2 1H13M165 13V2C165 1.44772 164.552 1 164 1H153M1 39V50C1 50.5523 1.44772 51 2 51H13M165 39V50C165 50.5523 164.552 51 164 51H153"
                            stroke="#EFEEEC"
                            stroke-linecap="round"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="card-marquee">
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3523b789d1efb848259b0_MAKARIC_SS25_ABOUT-YOU_Campaign_41.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a352f6cc5327dc6f134f9e_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_43.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a353374c3135044c299e5d_Side%2021_DAN-FOX-APPAREL_AW25_Drop-1_ABOUT-YOU_Campaign_111.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3523b789d1efb848259b0_MAKARIC_SS25_ABOUT-YOU_Campaign_41.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a352f6cc5327dc6f134f9e_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_43.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a353374c3135044c299e5d_Side%2021_DAN-FOX-APPAREL_AW25_Drop-1_ABOUT-YOU_Campaign_111.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3523b789d1efb848259b0_MAKARIC_SS25_ABOUT-YOU_Campaign_41.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a352f6cc5327dc6f134f9e_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_43.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a353374c3135044c299e5d_Side%2021_DAN-FOX-APPAREL_AW25_Drop-1_ABOUT-YOU_Campaign_111.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <a
                    href="/work/about-you"
                    class="button-cards-home mobile w-inline-block"></a>
                </div>
              </div>
            </div>
            <div
              data-w-id="80495093-3823-175b-aa40-d9a53ae32bd9"
              role="listitem"
              class="card-rotate-works w-dyn-item"
            >
              <div
                data-w-id="64e1c931-f1a3-7087-e671-8aa1d29ee333"
                class="works-card-wrapper"
              >
                <div class="works-card is-front">
                  <div class="works-card-image">
                    <img
                      alt="Tropicfeel"
                      loading="lazy"
                      src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack.webp"
                      class="image"
                    />
                  </div>
                  <div class="works-card-tittle">
                    <div class="max-width-30ch">
                      <h2
                        class="text-size-xlarge line-height-140 text-weight-regular"
                      >
                        Expanding Brand Horizons Through Marketplaces
                      </h2>
                    </div>
                    <div class="opacity-60">
                      <h2 class="text-size-small text-weight-regular">
                        Tropicfeel - 2024
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="works-card-back is-back">
                  <div class="works-card-content">
                    <div class="image-mobile">
                      <img
                        src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21.png"
                        loading="lazy"
                        alt="Tropicfeel"
                      />
                    </div>
                    <div class="works-back-card-content">
                      <div class="opacity-61">
                        <h2 class="text-size-small text-weight-regular">
                          Tropicfeel - 2024
                        </h2>
                      </div>
                      <div class="max-width-22ch">
                        <h2
                          class="text-size-xxlarge line-height-140 text-weight-regular"
                        >
                          Expanding Brand Horizons Through Marketplaces
                        </h2>
                      </div>
                      <div class="opacity-70 hide-mobile">
                        <p class="text-size-small line-height-150">
                          Scaling a DTC brand into global marketplaces while
                          preserving brand identity and community.
                        </p>
                      </div>
                      <div class="opacity-70 mobile">
                        <p class="text-size-small line-height-150">
                          DTC to marketplace expansion globally.
                        </p>
                      </div>
                    </div>
                    <div
                      data-w-id="43c6bf5b-aed1-63c3-997f-9963a15468bc"
                      class="button-primary"
                    >
                      <div class="button-text-wrapper align-center">
                        <div class="text-size-small text-weight-medium">
                          View Role
                        </div>
                      </div>
                      <div class="fill-top"></div>
                      <div class="fill-bottom"></div>
                      <div class="fill-left"></div>
                      <div class="fill-right"></div>
                      <div class="embed-border w-embed">
                        <svg
                          width="166"
                          height="50"
                          viewBox="0 0 166 52"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 13V2C1 1.44772 1.44772 1 2 1H13M165 13V2C165 1.44772 164.552 1 164 1H153M1 39V50C1 50.5523 1.44772 51 2 51H13M165 39V50C165 50.5523 164.552 51 164 51H153"
                            stroke="#EFEEEC"
                            stroke-linecap="round"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="card-marquee">
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack.webp"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75ea5378454a096c81e36_Bildschirmfoto%202025-08-18%20um%2020.16.49.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761e830a6d78fc0206579_Tropicfeel%20image%20with%20two%20women%20in%20front%20of%20a%20waterfall.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack.webp"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75ea5378454a096c81e36_Bildschirmfoto%202025-08-18%20um%2020.16.49.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761e830a6d78fc0206579_Tropicfeel%20image%20with%20two%20women%20in%20front%20of%20a%20waterfall.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack.webp"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75ea5378454a096c81e36_Bildschirmfoto%202025-08-18%20um%2020.16.49.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761e830a6d78fc0206579_Tropicfeel%20image%20with%20two%20women%20in%20front%20of%20a%20waterfall.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <a
                    href="/work/tropicfeel"
                    class="button-cards-home mobile w-inline-block"></a>
                </div>
              </div>
            </div>
            <div
              data-w-id="80495093-3823-175b-aa40-d9a53ae32bd9"
              role="listitem"
              class="card-rotate-works w-dyn-item"
            >
              <div
                data-w-id="64e1c931-f1a3-7087-e671-8aa1d29ee333"
                class="works-card-wrapper"
              >
                <div class="works-card is-front">
                  <div class="works-card-image">
                    <img
                      alt="SCRM - Lidl International Hub"
                      loading="lazy"
                      src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9.jpg"
                      class="image"
                    />
                  </div>
                  <div class="works-card-tittle">
                    <div class="max-width-30ch">
                      <h2
                        class="text-size-xlarge line-height-140 text-weight-regular"
                      >
                        From Data to Stories - Shaping Experiences for Millions
                      </h2>
                    </div>
                    <div class="opacity-60">
                      <h2 class="text-size-small text-weight-regular">
                        SCRM (Lidl International Hub) - 2025
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="works-card-back is-back">
                  <div class="works-card-content">
                    <div class="image-mobile">
                      <img
                        src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3.jpg"
                        loading="lazy"
                        alt="SCRM - Lidl International Hub"
                      />
                    </div>
                    <div class="works-back-card-content">
                      <div class="opacity-61">
                        <h2 class="text-size-small text-weight-regular">
                          SCRM (Lidl International Hub) - 2025
                        </h2>
                      </div>
                      <div class="max-width-22ch">
                        <h2
                          class="text-size-xxlarge line-height-140 text-weight-regular"
                        >
                          From Data to Stories - Shaping Experiences for
                          Millions
                        </h2>
                      </div>
                      <div class="opacity-70 hide-mobile">
                        <p class="text-size-small line-height-150">
                          Driving loyalty, personalization, and omnichannel
                          commerce across 30+ countries as part of Lidl Plus.
                        </p>
                      </div>
                      <div class="opacity-70 mobile">
                        <p class="text-size-small line-height-150">
                          Loyalty and personalization for millions across 30+
                          countries.
                        </p>
                      </div>
                    </div>
                    <div
                      data-w-id="43c6bf5b-aed1-63c3-997f-9963a15468bc"
                      class="button-primary"
                    >
                      <div class="button-text-wrapper align-center">
                        <div class="text-size-small text-weight-medium">
                          View Role
                        </div>
                      </div>
                      <div class="fill-top"></div>
                      <div class="fill-bottom"></div>
                      <div class="fill-left"></div>
                      <div class="fill-right"></div>
                      <div class="embed-border w-embed">
                        <svg
                          width="166"
                          height="50"
                          viewBox="0 0 166 52"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 13V2C1 1.44772 1.44772 1 2 1H13M165 13V2C165 1.44772 164.552 1 164 1H153M1 39V50C1 50.5523 1.44772 51 2 51H13M165 39V50C165 50.5523 164.552 51 164 51H153"
                            stroke="#EFEEEC"
                            stroke-linecap="round"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="card-marquee">
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee bigger">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <a
                    href="/work/scrm"
                    class="button-cards-home mobile w-inline-block"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          href="/work"
          data-w-id="bf4677f2-c516-baba-620c-f27106978f09"
          class="button-primary w-inline-block"
        >
          <div class="button-text-wrapper align-center">
            <div class="text-size-small text-weight-medium">
              View all experiences
            </div>
          </div>
          <div class="fill-top"></div>
          <div class="fill-bottom"></div>
          <div class="fill-left"></div>
          <div class="fill-right"></div>
          <div class="embed-border w-embed">
            <svg
              width="166"
              height="52"
              viewBox="0 0 166 52"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 13V2C1 1.44772 1.44772 1 2 1H13M165 13V2C165 1.44772 164.552 1 164 1H153M1 39V50C1 50.5523 1.44772 51 2 51H13M165 39V50C165 50.5523 164.552 51 164 51H153"
                stroke="#EFEEEC"
                stroke-linecap="round"></path>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="section">
    <div
      data-w-id="a559a188-77a7-a01b-8b6b-70ee36483ee7"
      style="opacity:0"
      class="slider-component wrapper"
    >
      <div
        data-delay="4000"
        data-animation="slide"
        class="slider-wrapper w-slider"
        data-autoplay="false"
        data-easing="ease-in-out-cubic"
        data-hide-arrows="false"
        data-disable-swipe="false"
        data-autoplay-limit="0"
        data-nav-spacing="3"
        data-duration="800"
        data-infinite="true"
      >
        <div class="mask w-slider-mask">
          <div class="testimonial-slider-secondary w-slide">
            <div class="slider-component">
              <div class="slider-background-image">
                <div class="slider-content">
                  <div class="text-size-large">
                    &quot;Luca always demonstrates his indisputable strategic
                    vision. His capacity for interpretation and creativity lead
                    him to always find a decisive and winning solution.&quot;
                  </div>
                  <div class="horizontal-line"></div>
                  <div class="testimonial-name">
                    <div class="text-size-regular">
                      <a
                        href="https://www.linkedin.com/in/victorjuliadot/overlay/about-this-profile/"
                        >Víctor Julià Dot</a
                      >
                    </div>
                    <div class="text-weight-medium text-size-regular">
                      CCO &amp; Co-Founder, Aurax
                    </div>
                  </div>
                </div>
                <div class="testimonial-overlay"></div><img
                  sizes="100vw"
                  srcset="/images/Victor-Julia-Dot-Image-4-p-500.jpg 500w, /images/Victor-Julia-Dot-Image-4-p-800.jpg 800w, /images/Victor-Julia-Dot-Image-4-p-1080.jpg 1080w, /images/Victor-Julia-Dot-Image-4.jpg 1200w"
                  alt="Víctor Julià Dot Testimonial Image"
                  src="/images/Victor-Julia-Dot-Image-4.jpg"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
          <div class="testimonial-slider-secondary w-slide">
            <div class="slider-component">
              <div class="slider-background-image">
                <div class="slider-content">
                  <div class="text-size-large">
                    „I really like his willingness to dive deep, ask the right
                    questions, and challenge our thinking in key business
                    areas.“
                  </div>
                  <div class="horizontal-line"></div>
                  <div class="testimonial-name">
                    <div class="text-size-regular">Nicolás Carrera</div>
                    <div class="text-weight-medium text-size-regular">
                      CEO &amp; Founder, Fashion Marketplaces Accelerator
                    </div>
                  </div>
                </div>
                <div class="testimonial-overlay"></div><img
                  sizes="100vw"
                  srcset="/images/Nicolás-Carrera-Image-p-500.png 500w, /images/Nicolás-Carrera-Image.png 600w"
                  alt="Nicolás Carrera Testimonial Image"
                  src="/images/nicolas-carrera"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-arrow-left w-slider-arrow-left">
          <img
            loading="lazy"
            src="/images/Arrow-Left.svg"
            alt="icon"
            class="fit-contain invert"
          />
        </div>
        <div class="testimonial-arrow-right w-slider-arrow-right">
          <img
            loading="lazy"
            src="/images/Arrow-Right.svg"
            alt="icon"
            class="fit-contain invert"
          />
        </div>
        <div class="display-none w-slider-nav"></div>
      </div>
    </div>
  </section>
  <div
    data-wf--cta--variant="border"
    class="cta-wrapper w-variant-b512fae1-c32e-60f9-518b-0417bf6ed240"
  >
    <div class="cta-background"></div>
    <div class="cta-content">
      <div>
        <div
          class="interaction-overflow w-variant-b512fae1-c32e-60f9-518b-0417bf6ed240"
        >
          <h2
            class="heading-cta line-height-135 text-weight-regular w-variant-b512fae1-c32e-60f9-518b-0417bf6ed240"
          >
            I share strategies, lessons, and real-world insights on business,
            tech, and e-commerce.
          </h2>
        </div>
        <div
          class="interaction-overflow w-variant-b512fae1-c32e-60f9-518b-0417bf6ed240"
        >
          <h2
            class="heading-cta line-height-135 text-weight-regular w-variant-b512fae1-c32e-60f9-518b-0417bf6ed240"
          >
            Follow along, the best conversations are yet to come.
          </h2>
        </div>
      </div>
      <a
        data-w-id="c5d25309-4ddf-4e57-3c31-cd03c5cbba1b"
        href="contact/form.html"
        class="primary-button is-secondary w-inline-block"
      >
        <div class="button-icon">
          <img
            src="/images/Secondary-Button-Icon.svg"
            loading="lazy"
            alt="Icon"
          />
        </div>
        <div class="button-text-wrapper">
          <div class="text-size-regular">Discuss Project</div>
          <div class="text-size-regular">Discuss Project</div>
        </div>
      </a>
    </div>
  </div>
</BaseLayout>
