---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Legal Notice">
  <header class="hero-template">
    <div class="hero-style-guide-wrapper">
      <div class="container w-container">
        <div class="hero-style-guide-content">
          <h1 class="heading-1">Legal Notice / Impressum</h1>
        </div>
      </div>
    </div>
  </header>
  <section class="section-style-guide">
    <div class="padding-global">
      <div class="container w-container">
        <div class="w-layout-grid license-component">
          <div class="style-guide-header">
            <h2 class="heading-6">Website Operator</h2>
            <div
              id="w-node-f78ef6bd-3f64-0b20-e970-5224cb4bf073-9e8d1669"
              class="divider"
            >
            </div>
            <div class="text-box">
              <p>
                This website is operated by:<br /><br />‍<strong
                  >Luca Alexander Büürma</strong
                ><br />Ronda del General Mitre, 92<br />Sarrià-Sant Gervasi<br
                />08021 Barcelona<br />Spain<br />Email: <a href="#"
                  >lucabuurma@gmail.com</a
                >
              </p>
            </div>
          </div>
          <div class="style-guide-header">
            <h2 class="heading-6">Responsible for Content</h2>
            <div
              id="w-node-f78ef6bd-3f64-0b20-e970-5224cb4bf092-9e8d1669"
              class="divider"
            >
            </div>
            <div class="text-box">
              <p>
                ‍<strong>Luca Alexander Büürma</strong><br />Ronda del General
                Mitre, 92<br />Sarrià-Sant Gervasi<br />08021 Barcelona<br
                />Spain<br />
              </p>
            </div>
          </div>
          <div class="style-guide-header">
            <h2 class="heading-6">Hosting Provider</h2>
            <div
              id="w-node-_029cc643-1014-2447-0d06-685f9b846932-9e8d1669"
              class="divider"
            >
            </div>
            <div class="license-content">
              <p>
                ‍<strong>This website is hosted by:</strong><br />Webflow, Inc.<br
                />398 11th Street, 2nd Floor<br />San Francisco, CA 94103<br
                />United States<br />‍<a
                  target="_blank"
                  href="https://webflow.com">https://webflow.com</a
                ><br />
              </p>
            </div>
          </div>
          <div class="style-guide-header">
            <h2 class="heading-6">Disclaimer</h2>
            <div
              id="w-node-_418d70b2-ddb4-5d0e-368f-01864a7272a9-9e8d1669"
              class="divider"
            >
            </div>
            <div class="text-box">
              <p class="paragraph-2">
                The contents of this website were created with great care.
                However, no guarantee can be given for the accuracy,
                completeness, or timeliness of the content.As a service
                provider, I am responsible for my own content on these pages in
                accordance with general laws. However, I am not obliged to
                monitor transmitted or stored third-party information or to
                investigate circumstances that indicate illegal activity.
                Obligations to remove or block the use of information under
                general laws remain unaffected. This website contains links to
                external third-party websites. I have no influence on the
                content of those websites and therefore cannot assume liability
                for such external content. Responsibility for the content of the
                linked pages always lies with the respective provider or
                operator of those websites.
              </p>
            </div>
          </div>
          <div class="style-guide-header">
            <h2 class="heading-6">Copyright &amp; Trademark Notice</h2>
            <div
              id="w-node-_8df446f9-928b-abc7-b03c-da347648b5ad-9e8d1669"
              class="divider"
            >
            </div>
            <div class="text-box">
              <p class="paragraph-2">
                All content and works created by me on these pages are subject
                to copyright. Logos and trademarks of former employers or
                third-party tools (e.g., Shopify, Google, Salesforce, Figma,
                etc.) are the property of their respective owners and are used
                here solely for descriptive, referential purposes. Such use does
                not imply any affiliation, endorsement, or sponsorship. Images
                used on this site include personal photographs, stock images
                (licensed from <a target="_blank" href="https://www.pexels.com/"
                  ><em>Pexels.com</em></a
                >), and publicly available campaign/media kit resources of
                former employers. If you believe your intellectual property
                rights have been infringed, please contact me directly.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
