---
// Header component — navbar + side menu
// Extracted from Webflow export
---

<div
  data-collapse="all"
  data-animation="default"
  data-duration="400"
  data-wf--navbar--variant="black"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="navbar w-variant-bcf01151-8d22-e264-8a30-64d12d940d44 w-nav"
>
  <div class="navbar-wrapper">
    <a
      href="/"
      class="navbar-link-block w-variant-bcf01151-8d22-e264-8a30-64d12d940d44 w-nav-brand"
    >
      <div
        class="text-size-small caps text-weight-medium w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
      >
        Luca Büürma
      </div>
    </a>
    <div class="navbar-content text-size-small">
      <div
        class="text-weight-medium caps line-height-140 w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
      >
        Retail
      </div>
      <div
        class="text-weight-medium caps line-height-140 w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
      >
        E-Commerce
      </div>
      <div
        class="text-weight-medium caps line-height-140 w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
      >
        CX
      </div>
      <div
        class="text-weight-medium caps line-height-140 w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
      >
        Strategy &amp; Operations
      </div>
    </div>
    <div class="navbar-year">
      <div
        class="text-size-small caps text-weight-medium w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
      >
        ©2026
      </div>
    </div>
    <div>
      <a
        data-w-id="32f94cd5-fa5d-ae43-8245-f2b205dae360"
        href="#"
        class="menu-button w-variant-bcf01151-8d22-e264-8a30-64d12d940d44 w-inline-block"
      >
        <div
          class="text-size-small caps text-weight-medium w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
        >
          menu
        </div>
      </a>
    </div>
    <div class="side-menu-bg"></div>
    <div
      class="side-menu-overlay w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
    >
    </div>
  </div>
  <div
    class="side-menu-component w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
  >
    <div
      class="side-menu-wrapper w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
    >
      <div
        id="w-node-_32f94cd5-fa5d-ae43-8245-f2b205dae367-05dae34f"
        class="side-menu-item flex-horizontal w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
      >
        <a
          href="/contact"
          data-w-id="32f94cd5-fa5d-ae43-8245-f2b205dae36c"
          class="button overflow-hidden w-inline-block"
        >
          <div
            class="text-size-small caps text-weight-medium w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
          >
            start a project
          </div>
          <div class="underline thin"></div>
        </a>
        <div
          data-w-id="32f94cd5-fa5d-ae43-8245-f2b205dae368"
          class="close-button-wrapper"
        >
          <img
            src="/images/cross-white.svg"
            loading="lazy"
            alt="Cross"
            class="close-icon"
          />
          <div
            class="text-size-small caps text-weight-medium w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
          >
            close
          </div>
        </div>
      </div>
      <div
        id="w-node-_32f94cd5-fa5d-ae43-8245-f2b205dae370-05dae34f"
        class="side-menu-item flex-vertical"
      >
        <div class="side-menu-text-wrap">
          <a href="/" class="heading-3 w-inline-block">Home</a>
          <div class="underline"></div>
        </div>
        <div class="side-menu-text-wrap">
          <a href="/about" class="heading-3 w-inline-block">About</a>
          <div class="underline"></div>
        </div>
        <div class="side-menu-text-wrap">
          <a href="/work" class="heading-3 w-inline-block">Works</a>
          <div class="underline"></div>
        </div>
        <div class="side-menu-text-wrap">
          <a href="/contact" class="heading-3 w-inline-block">Contact</a>
          <div class="underline"></div>
        </div>
      </div>
      <div
        id="w-node-_32f94cd5-fa5d-ae43-8245-f2b205dae381-05dae34f"
        class="side-menu-item bottom-content"
      >
        <div class="navbar-bottom-content">
          <div class="margin-vertical margin-tiny">
            <div class="opacity-50">
              <a href="/contact" class="w-inline-block">
                <div
                  class="text-size-small caps text-weight-medium w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
                >
                  CONNECT
                </div>
              </a>
            </div>
          </div>
          <div class="margin-vertical margin-tiny">
            <div class="max-width-20ch">
              <div class="text-size-regular wrap">
                Sarrià-Sant Gervasi<br />Barcelona<br />Spain
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-bottom-content">
          <div class="margin-vertical margin-tiny">
            <div class="opacity-50">
              <div
                class="text-size-small caps text-weight-medium w-variant-bcf01151-8d22-e264-8a30-64d12d940d44"
              >
                socials
              </div>
            </div>
          </div>
          <div class="margin-vertical margin-tiny">
            <div class="max-width-20ch vertical">
              <a
                href="https://www.instagram.com/lucabuurma"
                target="_blank"
                class="footer-link side-navbar">Instagram</a
              >
              <a
                href="https://www.linkedin.com/in/luca-büürma"
                target="_blank"
                class="footer-link side-navbar">LinkedIn</a
              >
              <a
                href="https://x.com/lucabuurma"
                target="_blank"
                class="footer-link side-navbar">X (Twitter)</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
