---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="ABOUT YOU">
  <section class="section">
    <div class="blog-header">
      <div class="paragraph-top-content smaller">
        <p class="text-size-small caps text-weight-medium">ABOUT YOU</p><p
          class="text-size-small"
        >
          2022
        </p>
      </div><div
        data-w-id="6c85c727-ba48-01d9-d87a-c47c49fa719e"
        class="main-header blog"
      >
        <h1 class="blog-heading">
          From Market Insight to Measurable Impact in DACH
        </h1>
      </div>
    </div>
  </section><section class="section">
    <div
      data-w-id="b03bdbd1-b06f-d406-573d-00df8eec718d"
      class="project-content-wrapper hero"
    >
      <div class="projects-main-image hero">
        <div class="mask-frame-works"></div><img
          alt="ABOUT YOU"
          loading="lazy"
          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997.jpg"
          sizes="100vw"
          srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997-p-2000.jpg 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997.jpg 2560w"
          class="image"
        />
      </div>
    </div>
  </section><section class="section">
    <div class="margin-blog">
      <div class="align-center-richtext">
        <div class="rich-text blog w-richtext">
          <h3>
            ABOUT YOU is a fashion tech company aiming to redefine the
            traditional shopping experience. As one of Europe’s fastest-growing
            e-commerce players and Hamburg’s first unicorn, it combines
            technology, personalisation, and storytelling to inspire over 30
            million monthly active users. With more than 3,800 brands and a
            strong focus on customer-centric innovation, ABOUT YOU reached €1.9B
            in revenue in 2022/23 making it one of the leading online fashion
            destinations in Europe.
          </h3>
        </div>
      </div>
    </div><div class="w-layout-blockcontainer container large w-container">
      <div
        data-w-id="c75e1869-a949-2d89-034d-3f6af4381ed5"
        class="project-content-wrapper"
      >
        <div class="projects-main-image">
          <div class="mask-frame-works"></div><img
            alt="ABOUT YOU"
            loading="lazy"
            src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8.jpg"
            sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
            srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8.jpg 2000w"
            class="image"
          />
        </div><div class="colection-list-wrapper w-dyn-list">
          <div
            role="list"
            class="project-collection-list _2-columns w-dyn-items"
          >
            <div
              role="listitem"
              class="size-full w-dyn-item w-dyn-repeater-item"
            >
              <div class="project-image-wrapper">
                <div class="mask-frame-works"></div><img
                  loading="lazy"
                  src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3523b789d1efb848259b0_MAKARIC_SS25_ABOUT-YOU_Campaign_41.jpg"
                  alt=""
                  sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                  srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3523b789d1efb848259b0_MAKARIC_SS25_ABOUT-YOU_Campaign_41-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3523b789d1efb848259b0_MAKARIC_SS25_ABOUT-YOU_Campaign_41-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3523b789d1efb848259b0_MAKARIC_SS25_ABOUT-YOU_Campaign_41-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3523b789d1efb848259b0_MAKARIC_SS25_ABOUT-YOU_Campaign_41.jpg 1500w"
                  class="project-image"
                />
              </div>
            </div><div
              role="listitem"
              class="size-full w-dyn-item w-dyn-repeater-item"
            >
              <div class="project-image-wrapper">
                <div class="mask-frame-works"></div><img
                  loading="lazy"
                  src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a352f6cc5327dc6f134f9e_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_43.jpg"
                  alt=""
                  sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                  srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a352f6cc5327dc6f134f9e_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_43-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a352f6cc5327dc6f134f9e_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_43-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a352f6cc5327dc6f134f9e_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_43-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a352f6cc5327dc6f134f9e_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_43.jpg 1500w"
                  class="project-image"
                />
              </div>
            </div>
          </div><div class="empty-state w-dyn-hide w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div><div
        data-w-id="c75e1869-a949-2d89-034d-3f6af4381ee2"
        class="project-content-wrapper margin-top"
      >
        <div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Market Strategy &amp; Regional Expansion
            </div><div class="rich-text small w-richtext">
              <h3>
                In the DACH region, the challenge was clear: achieve solid
                revenue growth while strengthening customer experiences and
                building stable, profitable operations. Working hand in hand
                with Tech, Marketing, CRM, Logistics, and Customer Service
                teams, I focused on localizing strategies, reinforcing
                processes, and closing operational gaps. The result was a more
                mature, resilient business, positioned competitively in one of
                Europe’s most dynamic markets.
              </h3>
            </div>
          </div>
        </div><div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Commercial &amp; Performance Optimization
            </div><div class="rich-text small w-richtext">
              <h3>
                From acquisition to retention, the funnel had to deliver. By
                translating data insights into actionable strategies, I improved
                conversion, boosted profitability, and supported sustainable
                revenue growth across Wholesale, Dropshipping, and Fulfillment.
              </h3>
            </div>
          </div>
        </div><div class="about-the-project">
          <div
            data-w-id="c75e1869-a949-2d89-034d-3f6af4381f5f"
            class="project-image-wrapper"
          >
            <div class="mask-frame-works"></div><img
              alt="ABOUT YOU"
              src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11.jpg"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11.jpg 1869w"
              class="project-image"
            />
          </div>
        </div><div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Cross-Functional Execution &amp; Leadership
            </div><div class="align-center-richtext">
              <div class="rich-text small w-richtext">
                <h3>
                  Complex strategies rarely succeed in silos. Working with
                  senior stakeholders and experts across business, product, and
                  operations, I supported creating the clarity and coordination
                  needed to move fast. By aligning priorities and turning vision
                  into execution, I helped transform high-level initiatives into
                  measurable results.
                </h3>
              </div>
            </div>
          </div>
        </div><div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Customer Experience &amp; Retention Strategy
            </div><div class="align-center-richtext">
              <div class="rich-text small w-richtext">
                <h3>
                  Enhancing the customer journey was about more than quick wins;
                  it was about creating lasting value. By leveraging customer
                  data and operational insights, I helped redesigning processes
                  that improved satisfaction, deepened loyalty, and ultimately
                  turned positive experiences into long-term brand advocacy.
                </h3>
              </div>
            </div>
          </div>
        </div><div class="about-the-project no-margin-bottom _100vh">
          <div
            data-w-id="c75e1869-a949-2d89-034d-3f6af4381f9a"
            class="project-image-wrapper"
          >
            <div class="mask-frame-works"></div><img
              alt="ABOUT YOU"
              src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4.jpg"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4.jpg 2000w"
              class="project-image"
            />
          </div><div
            data-w-id="0de7be04-d81d-7b1f-6cdc-ebfa720cde7c"
            class="project-image-wrapper"
          >
            <div class="mask-frame-works"></div><img
              alt="ABOUT YOU"
              src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a353374c3135044c299e5d_Side%2021_DAN-FOX-APPAREL_AW25_Drop-1_ABOUT-YOU_Campaign_111.jpg"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a353374c3135044c299e5d_Side%2021_DAN-FOX-APPAREL_AW25_Drop-1_ABOUT-YOU_Campaign_111-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a353374c3135044c299e5d_Side%2021_DAN-FOX-APPAREL_AW25_Drop-1_ABOUT-YOU_Campaign_111-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a353374c3135044c299e5d_Side%2021_DAN-FOX-APPAREL_AW25_Drop-1_ABOUT-YOU_Campaign_111-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a353374c3135044c299e5d_Side%2021_DAN-FOX-APPAREL_AW25_Drop-1_ABOUT-YOU_Campaign_111.jpg 1500w"
              class="project-image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
