---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Work">
  <section class="section">
    <div class="w-layout-blockcontainer container w-container">
      <div class="works-stack margin-top">
        <div class="projects-title">
          <div class="no-wrap">
            <h1 class="text-size-small text-weight-regular">
              Every Role, A New Lens
            </h1>
          </div>
          <div class="divider"></div>
        </div>
        <div class="works-stack-cms w-dyn-list">
          <div role="list" class="works-stack-list w-dyn-items">
            <div
              data-w-id="1ea9e3a2-9ed6-383a-4e9e-e1ebcc50aaed"
              role="listitem"
              class="works-stack-item w-dyn-item"
            >
              <div class="works-stack-card">
                <div class="works-stack-image">
                  <img
                    src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997.jpg"
                    loading="lazy"
                    alt="ABOUT YOU"
                    class="image"
                  />
                </div>
                <div class="works-stack-component">
                  <div class="works-stack-content">
                    <div class="works-top-content">
                      <div class="year-wrapper">
                        <div class="text-size-tiny">&copy;</div>
                        <div class="text-size-tiny">2022</div>
                      </div>
                      <div class="max-width-33ch">
                        <h2 class="text-size-xlarge text-weight-regular">
                          From Market Insight to Measurable Impact in DACH
                        </h2>
                      </div>
                      <p class="text-size-small line-height-150">
                        Achieving revenue growth while strengthening customer
                        experiences across one of Europe's most dynamic markets.
                      </p>
                    </div>
                    <a href="/work/about-you" class="w-inline-block">
                      <div class="primary-button is-bigger">
                        <div class="button-text-wrapper">
                          <div
                            class="text-size-regular interaction text-weight-medium"
                          >
                            View Role
                          </div>
                          <div
                            class="text-size-regular interaction text-weight-medium"
                          >
                            View Role
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="card-marquee">
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3523b789d1efb848259b0_MAKARIC_SS25_ABOUT-YOU_Campaign_41.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a352f6cc5327dc6f134f9e_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_43.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a353374c3135044c299e5d_Side%2021_DAN-FOX-APPAREL_AW25_Drop-1_ABOUT-YOU_Campaign_111.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3523b789d1efb848259b0_MAKARIC_SS25_ABOUT-YOU_Campaign_41.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a352f6cc5327dc6f134f9e_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_43.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a353374c3135044c299e5d_Side%2021_DAN-FOX-APPAREL_AW25_Drop-1_ABOUT-YOU_Campaign_111.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35211dc9f15704b3e4746_Side%202_NETFLIX-COLLECTION_Drop_1_AW_24_25_24-scaled-e1729372049997.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a35221d9cb6aeed735ee2e_Side%209_Kevin-Trapp-co-created-by-ABOUT-YOU_SS2025_Drop-1_Campaign-Shot_8.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3523b789d1efb848259b0_MAKARIC_SS25_ABOUT-YOU_Campaign_41.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a352f6cc5327dc6f134f9e_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_43.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3539ef4e277e91f6d62b3_Side%2023_ABOJ-ADEJ_SS25_ABOUT-YOU_Campaign_11.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a373b1333734dd2c091440_De-Roos_SS25_ABOUT-YOU_Campaign_4.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a353374c3135044c299e5d_Side%2021_DAN-FOX-APPAREL_AW25_Drop-1_ABOUT-YOU_Campaign_111.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <a href="/work/about-you" class="button-cards w-inline-block"
                  ></a>
                </div>
              </div>
            </div>
            <div
              data-w-id="1ea9e3a2-9ed6-383a-4e9e-e1ebcc50aaed"
              role="listitem"
              class="works-stack-item w-dyn-item"
            >
              <div class="works-stack-card">
                <div class="works-stack-image">
                  <img
                    src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack.webp"
                    loading="lazy"
                    alt="Tropicfeel"
                    class="image"
                  />
                </div>
                <div class="works-stack-component">
                  <div class="works-stack-content">
                    <div class="works-top-content">
                      <div class="year-wrapper">
                        <div class="text-size-tiny">&copy;</div>
                        <div class="text-size-tiny">2024</div>
                      </div>
                      <div class="max-width-33ch">
                        <h2 class="text-size-xlarge text-weight-regular">
                          Expanding Brand Horizons Through Marketplaces
                        </h2>
                      </div>
                      <p class="text-size-small line-height-150">
                        Scaling a DTC brand into global marketplaces while
                        preserving brand identity and community.
                      </p>
                    </div>
                    <a href="/work/tropicfeel" class="w-inline-block">
                      <div class="primary-button is-bigger">
                        <div class="button-text-wrapper">
                          <div
                            class="text-size-regular interaction text-weight-medium"
                          >
                            View Role
                          </div>
                          <div
                            class="text-size-regular interaction text-weight-medium"
                          >
                            View Role
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="card-marquee">
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack.webp"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75ea5378454a096c81e36_Bildschirmfoto%202025-08-18%20um%2020.16.49.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761e830a6d78fc0206579_Tropicfeel%20image%20with%20two%20women%20in%20front%20of%20a%20waterfall.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack.webp"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75ea5378454a096c81e36_Bildschirmfoto%202025-08-18%20um%2020.16.49.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761e830a6d78fc0206579_Tropicfeel%20image%20with%20two%20women%20in%20front%20of%20a%20waterfall.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack.webp"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75ea5378454a096c81e36_Bildschirmfoto%202025-08-18%20um%2020.16.49.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761e830a6d78fc0206579_Tropicfeel%20image%20with%20two%20women%20in%20front%20of%20a%20waterfall.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission.png"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <a href="/work/tropicfeel" class="button-cards w-inline-block"
                  ></a>
                </div>
              </div>
            </div>
            <div
              data-w-id="1ea9e3a2-9ed6-383a-4e9e-e1ebcc50aaed"
              role="listitem"
              class="works-stack-item w-dyn-item"
            >
              <div class="works-stack-card">
                <div class="works-stack-image">
                  <img
                    src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9.jpg"
                    loading="lazy"
                    alt="SCRM - Lidl International Hub"
                    class="image"
                  />
                </div>
                <div class="works-stack-component">
                  <div class="works-stack-content">
                    <div class="works-top-content">
                      <div class="year-wrapper">
                        <div class="text-size-tiny">&copy;</div>
                        <div class="text-size-tiny">2025</div>
                      </div>
                      <div class="max-width-33ch">
                        <h2 class="text-size-xlarge text-weight-regular">
                          From Data to Stories - Shaping Experiences for
                          Millions
                        </h2>
                      </div>
                      <p class="text-size-small line-height-150">
                        Driving loyalty, personalization, and omnichannel
                        commerce across 30+ countries as part of Lidl Plus.
                      </p>
                    </div>
                    <a href="/work/scrm" class="w-inline-block">
                      <div class="primary-button is-bigger">
                        <div class="button-text-wrapper">
                          <div
                            class="text-size-regular interaction text-weight-medium"
                          >
                            View Role
                          </div>
                          <div
                            class="text-size-regular interaction text-weight-medium"
                          >
                            View Role
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="card-marquee">
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      class="image-marquee-wrapper"
                    >
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                      <div class="image-marquee">
                        <img
                          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min.jpg"
                          loading="lazy"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <a href="/work/scrm" class="button-cards w-inline-block"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
