---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="SCRM - Lidl International Hub">
  <section class="section">
    <div class="blog-header">
      <div class="paragraph-top-content smaller">
        <p class="text-size-small caps text-weight-medium">
          SCRM - Lidl International Hub
        </p><p class="text-size-small">2025</p>
      </div><div
        data-w-id="6c85c727-ba48-01d9-d87a-c47c49fa719e"
        class="main-header blog"
      >
        <h1 class="blog-heading">
          From Data to Stories - Shaping Experiences for Millions
        </h1>
      </div>
    </div>
  </section><section class="section">
    <div
      data-w-id="b03bdbd1-b06f-d406-573d-00df8eec718d"
      class="project-content-wrapper hero"
    >
      <div class="projects-main-image hero">
        <div class="mask-frame-works"></div><img
          alt="SCRM - Lidl International Hub"
          loading="lazy"
          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9.jpg"
          sizes="100vw"
          srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9-p-2000.jpg 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368ea73f61e24e3bea9dc_Schwarz-Gruppe_GJ_2023_Bild_16_9.jpg 2540w"
          class="image"
        />
      </div>
    </div>
  </section><section class="section">
    <div class="margin-blog">
      <div class="align-center-richtext">
        <div class="rich-text blog w-richtext">
          <h3>
            SCRM – Lidl International Hub is the central driver of Lidl’s
            loyalty platforms and digital ecosystems. Based in Barcelona and
            part of Schwarz<strong> </strong>Digits, SCRM drives innovation in
            loyalty, personalization, and omnichannel commerce across 30+
            countries. As the product and data engine behind Lidl Plus, one of
            Europe’s most successful retail loyalty programs, SCRM connects
            customer insights with scalable technology, shaping how millions
            interact with Lidl online and in-store.
          </h3>
        </div>
      </div>
    </div><div class="w-layout-blockcontainer container large w-container">
      <div
        data-w-id="c75e1869-a949-2d89-034d-3f6af4381ed5"
        class="project-content-wrapper"
      >
        <div class="projects-main-image">
          <div class="mask-frame-works"></div><img
            alt="SCRM - Lidl International Hub"
            loading="lazy"
            src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3.jpg"
            sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
            srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3-p-2000.jpg 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3-p-2600.jpg 2600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3-p-3200.jpg 3200w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a368fb4be7ce6090604a7f_PreZero-Rezyklat-bei-Lidl-und-Kaufland_4zu3.jpg 4000w"
            class="image"
          />
        </div><div class="colection-list-wrapper w-dyn-list">
          <div
            role="list"
            class="project-collection-list _2-columns w-dyn-items"
          >
            <div
              role="listitem"
              class="size-full w-dyn-item w-dyn-repeater-item"
            >
              <div class="project-image-wrapper">
                <div class="mask-frame-works"></div><img
                  loading="lazy"
                  src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min.jpg"
                  alt=""
                  sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                  srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min-p-2000.jpg 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min-p-2600.jpg 2600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min-p-3200.jpg 3200w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a369192a8f34d92fa1be00_CSC23-min.jpg 3600w"
                  class="project-image"
                />
              </div>
            </div><div
              role="listitem"
              class="size-full w-dyn-item w-dyn-repeater-item"
            >
              <div class="project-image-wrapper">
                <div class="mask-frame-works"></div><img
                  loading="lazy"
                  src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht.jpg"
                  alt=""
                  sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                  srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht-p-2000.jpg 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht-p-2600.jpg 2600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht-p-3200.jpg 3200w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e266afd0a8ed1758f9f_Bild_Schwarz-Gruppe_Nachhaltigkeitsbericht.jpg 4000w"
                  class="project-image"
                />
              </div>
            </div>
          </div><div class="empty-state w-dyn-hide w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div><div
        data-w-id="c75e1869-a949-2d89-034d-3f6af4381ee2"
        class="project-content-wrapper margin-top"
      >
        <div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Loyalty &amp; Personalization Strategy
            </div><div class="rich-text small w-richtext">
              <h3>
                At SCRM - Lidl International Hub, I contribute to shaping
                personalization and loyalty initiatives within the Lidl Plus
                ecosystem. Working closely with CPOs, PMs, their squads, and
                business teams, I help identify opportunities, prioritize
                impactful use cases, and bring them to life across 30+
                countries. My focus is on ensuring that each initiative aligns
                with the overall strategy, delivers real value to users, and
                creates measurable impact at scale.
              </h3>
            </div>
          </div>
        </div><div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Connecting Strategy, Data &amp; Systems
            </div><div class="rich-text small w-richtext">
              <h3>
                I operate at the intersection of business strategy and digital
                infrastructure, coordinating the systems that power Lidl Plus.
                My work spans across the entire tech architecture (Data
                Platform, CDP, Marketing Automation, etc.), ensuring that data,
                technology, and product squads align to deliver scalable,
                personalized customer experiences across markets.
              </h3>
            </div>
          </div>
        </div><div class="about-the-project">
          <div
            data-w-id="c75e1869-a949-2d89-034d-3f6af4381f5f"
            class="project-image-wrapper"
          >
            <div class="mask-frame-works"></div><img
              alt="SCRM - Lidl International Hub"
              src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real.jpg"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real-p-2000.jpg 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3696d1e389b335e326d3e_7fcbab4979e5-240927_Schwarz-Gruppe_Expo-Real.jpg 2519w"
              class="project-image"
            />
          </div>
        </div><div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Turning Complex Structures into Clear Priorities
            </div><div class="align-center-richtext">
              <div class="rich-text small w-richtext">
                <h3>
                  In a global organization as complex as Lidl, success depends
                  on clarity. I act as a cross-functional orchestrator, bringing
                  together product squads, country teams, business functions,
                  and senior leadership to move Lidl Plus personalization and
                  loyalty initiatives forward. By translating diverse needs into
                  clear, shared priorities and providing tailored insights to
                  key decision-makers, I help shape a roadmap where user value,
                  business impact, and scalability meet.
                </h3>
              </div>
            </div>
          </div>
        </div><div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Measuring Impact &amp; Driving Continuous Improvement
            </div><div class="align-center-richtext">
              <div class="rich-text small w-richtext">
                <h3>
                  For personalization and loyalty to create real impact,
                  measurement is key. In my role, I track Lidl Plus
                  personalization and some broader loyalty initiatives against
                  strategic objectives, drawing on data and market insights to
                  identify what works and where we can improve. This focus on
                  continuous improvement helps steer the program and especially
                  all personalization initiatives toward sustainable value
                  creation.
                </h3>
              </div>
            </div>
          </div>
        </div><div class="about-the-project no-margin-bottom _100vh">
          <div
            data-w-id="c75e1869-a949-2d89-034d-3f6af4381f9a"
            class="project-image-wrapper"
          >
            <div class="mask-frame-works"></div><img
              alt="SCRM - Lidl International Hub"
              src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min.jpg"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min-p-2000.jpg 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min-p-2600.jpg 2600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min-p-3200.jpg 3200w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a36983ebdf1498cb30fe52_STACKIT_CloudX_Summit-min.jpg 5400w"
              class="project-image"
            />
          </div><div
            data-w-id="0de7be04-d81d-7b1f-6cdc-ebfa720cde7c"
            class="project-image-wrapper"
          >
            <div class="mask-frame-works"></div><img
              alt="SCRM - Lidl International Hub"
              src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min.jpg"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min-p-2000.jpg 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min-p-2600.jpg 2600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min-p-3200.jpg 3200w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a3699445a09064f8b6db18_PI_Schwarz-Gruppe_Gemeinsamer-Nachhaltigkeitsbericht-min.jpg 3500w"
              class="project-image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
