---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Tropicfeel">
  <section class="section">
    <div class="blog-header">
      <div class="paragraph-top-content smaller">
        <p class="text-size-small caps text-weight-medium">Tropicfeel</p><p
          class="text-size-small"
        >
          2024
        </p>
      </div><div
        data-w-id="6c85c727-ba48-01d9-d87a-c47c49fa719e"
        class="main-header blog"
      >
        <h1 class="blog-heading">
          Expanding Brand Horizons Through Marketplaces
        </h1>
      </div>
    </div>
  </section><section class="section">
    <div
      data-w-id="b03bdbd1-b06f-d406-573d-00df8eec718d"
      class="project-content-wrapper hero"
    >
      <div class="projects-main-image hero">
        <div class="mask-frame-works"></div><img
          alt="Tropicfeel"
          loading="lazy"
          src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack.webp"
          sizes="100vw"
          srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack-p-500.webp 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack-p-800.webp 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack-p-1080.webp 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack-p-1600.webp 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/689ddcb7f72357a935734d75_Tropicfeel%20Shell%20Backpack.webp 1920w"
          class="image"
        />
      </div>
    </div>
  </section><section class="section">
    <div class="margin-blog">
      <div class="align-center-richtext">
        <div class="rich-text blog w-richtext">
          <h4>
            Tropicfeel is a Barcelona-based travel and lifestyle brand
            redefining how people experience the world. With a focus on
            innovation, functionality, and sustainability, the company designs
            versatile gear for modern-day explorers. Blending fashion, travel,
            and purpose, Tropicfeel has grown into a globally recognized DTC
            brand with a loyal community and successful product launches powered
            by crowdfunding, its D2C e-commerce, and strategic partnerships.
          </h4>
        </div>
      </div>
    </div><div class="w-layout-blockcontainer container large w-container">
      <div
        data-w-id="c75e1869-a949-2d89-034d-3f6af4381ed5"
        class="project-content-wrapper"
      >
        <div class="projects-main-image">
          <div class="mask-frame-works"></div><img
            alt="Tropicfeel"
            loading="lazy"
            src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21.png"
            sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
            srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21-p-500.png 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21-p-800.png 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21-p-1080.png 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21-p-1600.png 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21-p-2000.png 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75e8f111fb976d068ff94_Bildschirmfoto%202025-08-18%20um%2020.16.21.png 2380w"
            class="image"
          />
        </div><div class="colection-list-wrapper w-dyn-list">
          <div
            role="list"
            class="project-collection-list _2-columns w-dyn-items"
          >
            <div
              role="listitem"
              class="size-full w-dyn-item w-dyn-repeater-item"
            >
              <div class="project-image-wrapper">
                <div class="mask-frame-works"></div><img
                  loading="lazy"
                  src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75ea5378454a096c81e36_Bildschirmfoto%202025-08-18%20um%2020.16.49.png"
                  alt=""
                  sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                  srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75ea5378454a096c81e36_Bildschirmfoto%202025-08-18%20um%2020.16.49-p-500.png 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75ea5378454a096c81e36_Bildschirmfoto%202025-08-18%20um%2020.16.49-p-800.png 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75ea5378454a096c81e36_Bildschirmfoto%202025-08-18%20um%2020.16.49-p-1080.png 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a75ea5378454a096c81e36_Bildschirmfoto%202025-08-18%20um%2020.16.49.png 1198w"
                  class="project-image"
                />
              </div>
            </div><div
              role="listitem"
              class="size-full w-dyn-item w-dyn-repeater-item"
            >
              <div class="project-image-wrapper">
                <div class="mask-frame-works"></div><img
                  loading="lazy"
                  src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761e830a6d78fc0206579_Tropicfeel%20image%20with%20two%20women%20in%20front%20of%20a%20waterfall.png"
                  alt=""
                  sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                  srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761e830a6d78fc0206579_Tropicfeel%20image%20with%20two%20women%20in%20front%20of%20a%20waterfall-p-500.png 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761e830a6d78fc0206579_Tropicfeel%20image%20with%20two%20women%20in%20front%20of%20a%20waterfall-p-800.png 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761e830a6d78fc0206579_Tropicfeel%20image%20with%20two%20women%20in%20front%20of%20a%20waterfall-p-1080.png 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761e830a6d78fc0206579_Tropicfeel%20image%20with%20two%20women%20in%20front%20of%20a%20waterfall.png 1105w"
                  class="project-image"
                />
              </div>
            </div>
          </div><div class="empty-state w-dyn-hide w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div><div
        data-w-id="c75e1869-a949-2d89-034d-3f6af4381ee2"
        class="project-content-wrapper margin-top"
      >
        <div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Marketplace Strategy &amp; Global Channel Development
            </div><div class="rich-text small w-richtext">
              <h4>
                Establishing marketplaces (3-P Seller) at Tropicfeel meant
                starting from scratch. From designing the global strategy to
                launching on major platforms and optimizing performance, I built
                the area with full P&amp;L responsibility that drove omnichannel
                growth and opened the brand further to new markets and audiences
                worldwide.
              </h4>
            </div>
          </div>
        </div><div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Commercial Growth &amp; Performance Optimization
            </div><div class="rich-text small w-richtext">
              <h4>
                Driving growth across marketplaces requires more than launching
                - it demands precise execution. By owning the commercial and
                promotional calendar, I coordinated initiatives that boosted
                awareness, strengthened brand consistency, and engaged customers
                across multiple regions. With data-driven strategies, I
                increased visibility, sell-through, and ensured operational
                excellence across diverse product categories.
              </h4>
            </div>
          </div>
        </div><div class="about-the-project">
          <div
            data-w-id="c75e1869-a949-2d89-034d-3f6af4381f5f"
            class="project-image-wrapper"
          >
            <div class="mask-frame-works"></div><img
              alt="Tropicfeel"
              src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one.png"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one-p-500.png 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one-p-800.png 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one-p-1080.png 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one-p-1600.png 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one-p-2000.png 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a76127644415f97357c219_Tropicfeel%20image%20saying%20If%20you%20make%20an%20impact%2C%20make%20sure%20it%27s%20a%20positive%20one.png 2390w"
              class="project-image"
            />
          </div>
        </div><div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Retail Media &amp; Demand Acceleration
            </div><div class="align-center-richtext">
              <div class="rich-text small w-richtext">
                <h4>
                  Building and enhancing visibility in competitive retail
                  environments required more than generic campaigns. By working
                  across teams and with external partners, I launched
                  performance-driven retail media initiatives that tailored
                  advertising strategies to each platform. These efforts boosted
                  product visibility, supported both brand awareness and
                  conversion goals, and reinforced channel-specific go-to-market
                  strategies.
                </h4>
              </div>
            </div>
          </div>
        </div><div class="align-left-cms">
          <div class="about-the-project solution">
            <div class="text-style-italic text-size-small">
              Unlocking Digital Growth Through Partnerships
            </div><div class="align-center-richtext">
              <div class="rich-text small w-richtext">
                <h4>
                  Digital growth often also starts with partnerships. I built
                  and negotiated partnerships that opened new opportunities,
                  aligning assortment and stock planning to deliver results.
                  Beyond that, I led a pre-order and crowdfunding campaign that
                  connected with early adopters and expanded the brand’s
                  presence in new and underdeveloped markets.
                </h4>
              </div>
            </div>
          </div>
        </div><div class="about-the-project no-margin-bottom _100vh">
          <div
            data-w-id="c75e1869-a949-2d89-034d-3f6af4381f9a"
            class="project-image-wrapper"
          >
            <div class="mask-frame-works"></div><img
              alt="Tropicfeel"
              src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water.jpg"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water-p-500.jpg 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water-p-800.jpg 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water-p-1080.jpg 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water-p-1600.jpg 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water-p-2000.jpg 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water-p-2600.jpg 2600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water-p-3200.jpg 3200w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a7623c7be2f981749f86a1_Landscape%20image%20with%20mountains%20and%20water.jpg 6000w"
              class="project-image"
            />
          </div><div
            data-w-id="0de7be04-d81d-7b1f-6cdc-ebfa720cde7c"
            class="project-image-wrapper"
          >
            <div class="mask-frame-works"></div><img
              alt="Tropicfeel"
              src="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission.png"
              loading="lazy"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission-p-500.png 500w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission-p-800.png 800w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission-p-1080.png 1080w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission-p-1600.png 1600w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission-p-2000.png 2000w, https://cdn.prod.website-files.com/689c9d9dd3a17615f1ee5ef8/68a761fa06deb80b4d7e86ad_Tropicfeel%20image%20stating%20the%20companys%20mission.png 2178w"
              class="project-image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
